<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Trabajo 1</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
        aperiam qui, ea eaque eum nostrum quia quae voluptatem nobis eligendi
        beatae perferendis nisi fugit itaque? Ipsa delectus provident ducimus
        sit.
      </p>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 2</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
        aperiam qui, ea eaque eum nostrum quia quae voluptatem nobis eligendi
        beatae perferendis nisi fugit itaque? Ipsa delectus provident ducimus
        sit.
      </p>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 3</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
        aperiam qui, ea eaque eum nostrum quia quae voluptatem nobis eligendi
        beatae perferendis nisi fugit itaque? Ipsa delectus provident ducimus
        sit.
      </p>
    </ul>
  </div>
</div>
>
